[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
codecov = "==2.1.13"
flake8 = "==7.1.1"
pytest = "==8.3.3"
pytest-cov = "==6.0.0"
pytest-forked = "==1.6.0"
pytest-xdist = "==3.6.1"
yapf = "==0.40.2"

[packages]
pokeapi = {path = ".", editable = true}
